@font-face {
  font-family: inter;
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: newyork;
  src: url("../fonts/NewYork\ PERSONAL\ USE.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* -general */
body {
  background-color: #272422;
}

section {
  width: 70%;
  margin: 0 auto;
}

h2 {
  color: white;
  font-size: 10rem;
  font-family: newyork;
}

a {
  font-family: inter;
}

p {
  color: #999999;
  font-size: 1.7rem;
  font-family: inter;
}

button {
  border: 1px solid #333337;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  padding: 30px 30px;
  background-color: #272422;
}

/* -header */
/* * nav */

header nav {
  display: flex;
  justify-content: space-between;
  background-color: #272422;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 30px 50px 25px 50px;
  border-bottom: 1px solid #333337;
}

header nav a {
  text-decoration: none;
  color: white;
  font-family: inter;
  padding: 0 40px;
  font-size: 1.3rem;
}

/* -main */
/* * section1 */
.section1 {
  height: 120vh;
  width: 70%;
  position: relative;
  background-image: url("../img/19.png");
  margin-bottom: 25vh;
}

.section1 .videobutton {
  border: 1px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-size: 2.5rem;
  padding: 35px 35px 35px 40px;
  color: #e8bf96;
  text-align: center;
  margin: 200px auto 12px auto;
}

.section1 h1 {
  font-family: newyork;
  font-size: 15rem;
  color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto 40px auto;
}

.section1 h4 {
  color: white;
  font-family: newyork;
  font-size: 3.5rem;
  text-align: center;
}

.section1 h4 span {
  font-size: 3.5rem;
  color: #e8bf96;
}

.section1 img {
  position: absolute;
}

/* Bilder */
.section1 img:nth-of-type(1) {
  left: 0;
  top: 30%;
}

.section1 img:nth-of-type(2) {
  left: 40%;
  bottom: 0;
}

.section1 img:nth-of-type(3) {
  right: 0;
  top: 10%;
}

.section1 img:nth-of-type(4) {
  left: 37%;
  top: 68%;
}

.section1 div img:nth-of-type(1) {
  left: 8%;
  top: 82%;
}

.section1 div img:nth-of-type(2) {
  left: 0%;
  top: 82%;
}

/* Texte */
.section1 p:nth-of-type(2) {
  position: absolute;
  width: 17%;
  right: 5%;
  bottom: 10%;
  line-height: 28px;
}

.section1 p span {
  color: white;
  font-size: 1.7rem;
}

.section1 div p {
  position: absolute;
  color: white;
  font-size: 2.3rem;
  bottom: 10%;
  left: 8%;
}

/* * section2 */
.section2 {
  text-align: center;
}
.section2 h2 {
  color: white;
  margin-bottom: 30px;
}

.section2 p {
  width: 50%;
  margin: 0 auto 70px auto;
  line-height: 28px;
}

.section2 button {
  margin-bottom: 10%;
}

/* * section3 */

.section3 h2 {
  margin-bottom: 20px;
}
.section3 article {
  display: flex;
  align-items: top;
  margin-bottom: 60px;
}

.section3 .line {
  width: 15%;
  height: 20px;
  border-top: 1px solid #999999;
  margin-left: 5%;
}

.section3 p {
  line-height: 23px;
  width: 35%;
  margin: 0 20% 0 10%;
}

.section3 .img {
  display: flex;
  gap: 20%;
  margin-bottom: 15%;
}
.section3 .img-large {
  width: 50%;
  height: 100%;
}

.section3 .img-small {
  width: 30%;
  height: 50%;
  margin-top: 23%;
}

/* * section4 */
.section4 {
  margin-bottom: 15vh;
  border-bottom: 1px solid #333337;
  padding-bottom: 15vh;
}
.section4 .section4header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 80px;
  border-bottom: 1px solid #333337;
}

.section4 div p {
  color: white;
}

.section4 span {
  font-size: 1.3rem;
  color: #999999;
}

.section4 h2,
p {
  text-align: center;
}

.section4 h2 {
  font-size: 10rem;
}

.section4 article {
  display: flex;
  position: relative;
}
.section4 article div {
  margin: 0 auto 60px auto;
}

.section4 img:nth-of-type(1) {
  width: 25%;
  height: 70%;
  position: absolute;
  bottom: 0;
}

.section4 img:nth-of-type(2) {
  width: 15%;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
}

/* *section 5 */

.section5 h2 {
  margin-bottom: 20px;
}
.section5 article {
  display: flex;
  align-items: top;
  margin-bottom: 60px;
}

.section5 .line {
  width: 20%;
  height: 20px;
  border-top: 1px solid #999999;
  margin-left: 5%;
}

.section5 article:nth-of-type(1) p {
  line-height: 23px;
  width: 70%;
  margin: 0 5% 0 5%;
  text-align: left;
}

.section5 article:nth-of-type(2) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.section5 article:nth-of-type(2) p {
  text-align: left;
}

.section5 article:nth-of-type(2) h4 {
  color: white;
  font-size: 2.2rem;
  font-family: newyork;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 20vh;
}

.section5 article:nth-of-type(2) img {
  margin-bottom: 35px;
  height: 370px;
  width: 370px;
  object-fit: cover;
}

/* *section6 */
.section6 {
  width: 100%;
  height: 100vh;
  background-color: #27242289;
  opacity: 0.5;
  background: url("../img/23.jpeg");
  background-size: cover;
  position: relative;
}

.section6 div {
  color: white;
  position: absolute;
  border-top: 1px solid #ffffff7e;
  width: 30%;
  right: 0;
  margin-right: 10vw;
  bottom: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.section6 h2 {
  font-size: 6rem;
  text-align: right;
}

.section6 p {
  text-indent: 15%;
  text-align: left;
  font-size: 2.2rem;
}
